.item {
  border: 1px solid red;
  height: 200px;
}

.item2 {
  flex-grow: 2;
  border: 1px solid blue;
}

.bottomPadding {
  height: 50px;
}

@media (max-width: 500px) {
  .bottomPadding {
    height: 100px;
  }
}
