.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: var(--spacing-xlarge);
}

.item {
  border: 1px solid red;
}

.item2 {
  flex-grow: 2;
  border: 1px solid blue;
}

@media (max-width: 1050px) {
  .container {
    grid-template-columns: 1fr;
  }
}
