.form {
  margin: var(--spacing-medium) var(--spacing-page-border);
}

.form h1 {
  font-family: var(--font-belleza);
  text-transform: uppercase;
  font-weight: 500;
  padding-bottom: var(--spacing-small);
  border-bottom: 1px solid var(--content-box-separator-color);
}

.form h2 {
  margin-top: var(--spacing-large);
  padding-bottom: var(--spacing-xsmall);
  border-bottom: 1px solid var(--content-box-separator-color);
  margin-bottom: var(--spacing-xx-small);
}

.form h3 {
  margin-top: var(--spacing-large);
  border: none;
  color: var(--primary-text-color-section);
}

.formRow {
  display: flex;
  flex-direction: row;
  /* gap: var(--spacing-medium); */
  flex-wrap: wrap;
}

.form h3 span.errorMessage {
  height: 5px;
  color: var(--snackbar-error-color);
  font-weight: 400;
  font-size: var(--font-size-body-xsmall);
  font-family: var(--font-be-vietnam);
  text-transform: none;
}

.form .removeBottomMargin {
  margin-bottom: 0;
}

.savingThrowRow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
