/* ALL INPUTS */

input.error {
  border-bottom: 1px solid var(--snackbar-error-color);
}

.errorMessage {
  height: 5px;
  color: var(--snackbar-error-color);
  font-weight: 400;
  font-size: var(--font-size-body-xsmall);
  font-family: var(--font-be-vietnam);
}

/* SUBMIT INPUT */

.submitInput {
  font-size: var(--font-size-body-medium);
  padding: var(--spacing-small) var(--spacing-medium);
  margin-top: var(--spacing-medium);
}

/* TEXT INPUT */

.textInput {
  display: flex;
  flex-direction: column;
  margin: var(--spacing-medium) var(--spacing-medium) var(--spacing-xx-small) 0;
}

.textInput label {
  font-size: var(--font-size-body-xsmall);
  font-family: var(--font-belleza);
  text-transform: uppercase;
}

.textInput input {
  font-family: var(--font-be-vietnam);
  font-weight: 300;
  width: 300px;
  max-width: 70vw;
  height: 30px;
  padding: var(--spacing-xx-small) 0;
  border: none;
  border-bottom: 1px solid var(--content-box-border-color);
  font-size: var(--font-size-body-medium);
}

/* CHECKBOX INPUT */

.checkboxInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: var(--spacing-medium);
}

.checkboxInput label {
  font-weight: 300;
  font-size: var(--font-size-body-medium);
  font-family: var(--font-be-vietnam);
}

.checkboxInput input {
  margin-right: var(--spacing-xsmall);
  width: 20px;
  height: 20px;
}

/* CLASS INPUT */

.classSection {
  display: flex;
  flex-direction: column;
}

.classRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: var(--spacing-small-medium);
}

.classRow .textInput {
  margin-top: 0;
}

.classRow svg {
  margin-top: 4px;
}

.addButton {
  max-width: 200px;
}
