.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: var(--content-box-background-color);
  padding: var(--spacing-large);
  border-radius: 8px;
  max-width: 500px;
  width: 90%;
}

.modalTitle {
  margin-top: 0 !important;
  margin-bottom: var(--spacing-medium) !important;
  font-family: var(--font-belleza);
  text-transform: uppercase;
  font-weight: 500;
}

.modalContent p {
  margin-bottom: var(--spacing-large);
  font-weight: 300;
}

.modalButtons {
  display: flex;
  justify-content: flex-end;
  gap: var(--spacing-medium);
}

.confirmButton {
  /* background-color: var(--primary-red-color); */
  color: var(--action-button-highlighted-text-color);
}
