body {
  font-family: var(--font-be-vietnam);
  font-weight: 100;
  font-style: normal;
  background-color: var(--primary-background-color-light);
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* global styles */

.split-grid-container {
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  gap: var(--spacing-large);
}

.content-box {
  background-color: var(--content-box-background-color);
  border: 1px solid var(--content-box-border-color);
  padding: var(--spacing-large);
  /* padding: var(--spacing-large) var(--spacing-xlarge); */
  margin-bottom: var(--spacing-large);
}

.action-button {
  font-family: var(--font-belleza);
  border: 1px solid var(--action-button-border-color);
  padding: var(--spacing-xsmall) var(--spacing-medium);
  font-size: var(--font-size-body-medium);
  background-color: var(--content-box-background-color);
  text-transform: uppercase;
  font-weight: 300;
  box-sizing: border-box;
}

/* TO DO LATER */
/* .action-button:hover {
  border-color: var(--action-button-highlighted-color);
  color: var(--action-button-highlighted-color);
} */

.highlighted-action-button {
  background-color: var(--action-button-highlighted-color);
  border: none;
  color: var(--action-button-highlighted-text-color);
}

.section-header {
  color: var(--primary-text-color-section);
  font-family: var(--font-belleza);
  text-transform: uppercase;
  font-weight: 200;
  font-size: var(--font-size-heading-small);
}

details summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

details summary::after {
  content: "";
  width: 18px;
  height: 18px;
  background: url("../assets/caret-left.png") no-repeat;
  background-size: cover;
  margin-left: 0.75em;
  transition: 0.2s;
}

details[open] > summary::after {
  transform: rotate(-90deg);
}

@media (max-width: 1200px) {
  .content-box {
    padding: var(--spacing-medium-large);
  }
}

@media (max-width: 1150px) {
  .split-grid-container {
    grid-template-columns: 2fr 0.5fr;
  }
}

@media (max-width: 1050px) {
  .split-grid-container {
    grid-template-columns: 1fr;
  }
}
