body {
  --primary-heading-color-dark: #000000;
  --primary-background-color-light: #ffffff;

  /* font sizes */
  /* --font-size-heading-large: 40px; */
  /* --font-size-heading-medium: 32px; */
  --font-size-heading-small: 24px;
  /* --font-size-body-large: 20px;
  --font-size-body-medium: 16px;
  --font-size-body-small: 14px; */
}
