.container {
  height: 400px;
}

.topRow {
  display: flex;
  justify-content: space-around;
}

.topRow div {
  /* border: 1px solid blue; */
}

.statsContainer {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-medium);
}

.proficiency {
  font-family: var(--font-belleza);
  text-transform: uppercase;
  background-color: var(--highlight-background-color);
  padding: var(--spacing-small-medium) var(--spacing-medium-large);
  text-align: center;
}

.proficiency h5 {
  font-size: var(--font-size-body-medium);
  font-weight: 300;
}

.proficiency p {
  font-size: var(--font-size-body-small);
  font-weight: 300;
}

.proficiency h3 {
  font-weight: 300;
  font-size: var(--font-size-heading-medium-large);
  font-family: var(--font-be-vietnam);
  line-height: 0.9;
  margin-bottom: var(--spacing-small);
}

.darkvision,
.inspiration {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.darkvision h5,
.inspiration h5 {
  font-weight: 300;
  text-transform: uppercase;
  font-family: var(--font-belleza);
  font-size: var(--font-size-body-medium);
  margin-bottom: var(--spacing-small);
}

.darkvision h3 {
  font-weight: 300;
  font-size: var(--font-size-heading-medium);
  font-family: var(--font-be-vietnam);
  line-height: 0.9;
  margin-bottom: var(--spacing-small);
}

.darkvision h3 span {
  font-size: var(--font-size-body-xsmall);
}

.darkvision p {
  font-size: var(--font-size-body-small);
  font-weight: 300;
  line-height: 1.6;
  margin: 8px 0;
}

.inspiration h5 {
  margin-bottom: 4px;
}

.inspirationIcon {
  color: var(--primary-gold-color);
}

.inspirationIconDim {
  color: var(--tab-color);
}

.passive {
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: var(--spacing-medium);
}

.passiveRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.passiveRow h5,
.passiveRow p {
  display: inline-block;
}

.passiveRow h5 {
  font-family: var(--font-belleza);
  font-size: var(--font-size-body-medium);
  font-weight: 300;
  text-transform: uppercase;
  font-weight: 300;
}

.passiveRow p {
  width: auto;
  background-color: var(--highlight-background-color);
  font-family: var(--font-be-vietnam);
  font-size: var(--font-size-body-medium);
  font-weight: 300;
  line-height: 0.9;
  padding: var(--spacing-xsmall);
  width: 24px;
  text-align: center;
}

@media (max-width: 750px) {
  .topRow {
    flex-wrap: wrap;
    gap: var(--spacing-medium-large);
  }
}

@media (max-width: 600px) {
  .statsContainer {
    flex-direction: column;
    gap: var(--spacing-medium-large);
  }

  .passive {
    margin-right: 0;
  }
}
