.headingContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 var(--spacing-large) var(--spacing-xx-large);
}

.headingContainer input {
  flex: 1;
  margin-right: var(--spacing-xlarge);
  max-width: 1000px;
}

.headingContainer button {
  padding: var(--spacing-small-medium) var(--spacing-medium);
}

.creatureBlockContainer h3 {
  margin-top: var(--spacing-large);
  margin-bottom: var(--spacing-small-medium);
  font-size: var(--font-size-heading-xsmall);
}

.feature {
  margin-bottom: var(--spacing-medium);
}

.feature:last-child {
  margin-bottom: var(--spacing-large);
}

.feature h4 {
  font-weight: 400;
  font-size: var(--font-size-body-medium-large);
  margin-bottom: var(--spacing-xxx-small);
}

.feature h5 {
  font-weight: 200;
  font-size: var(--font-size-body-medium);
}

.rightContainer {
  margin-left: var(--spacing-large);
}

.passiveContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--spacing-small);
  margin-top: var(--spacing-medium-large);
}

.passiveRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.passiveRow h5,
.passiveRow p {
  display: inline-block;
}

.passiveRow h5 {
  font-family: var(--font-belleza);
  font-size: var(--font-size-body-medium);
  font-weight: 300;
  text-transform: uppercase;
  font-weight: 300;
}

.passiveRow p {
  width: auto;
  background-color: var(--highlight-background-color);
  font-family: var(--font-be-vietnam);
  font-size: var(--font-size-body-medium);
  font-weight: 300;
  line-height: 0.9;
  padding: var(--spacing-xsmall);
  width: 24px;
  text-align: center;
}

.skillsContainer h5 {
  font-family: var(--font-belleza);
  font-size: var(--font-size-body-medium);
  font-weight: 300;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: var(--spacing-xxx-small);
}

.skillsContainer h6 {
  font-weight: 200;
  padding: 0;
  font-size: var(--font-size-body-medium);
}

@media (max-width: 1150px) {
  .creatureBlockContainer {
    grid-template-columns: 1fr 0.7fr;
  }
}

@media (max-width: 1050px) {
  .creatureBlockContainer {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .rightContainer {
    margin-left: 0;
    order: -1;
  }

  .creatureBlockContainer h3 {
    color: var(--primary-text-color-section);
    font-size: var(--font-size-heading-small);
  }
}
